#container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1%;
  left: 92%;
  transform: translateX(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 35px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgb(179, 172, 172);
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
}

input:checked + .slider {
  background: #3c3939;
}
input:checked + .slider:before {
  transform: translateX(46px);
}

/* Domyślny kolor ten co jest w style.css */
.dark-mode {
  background: #222831;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
